* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-image {
  width: 100%;
  height: auto;
  padding: 0px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.navbar {
  background: #f2f2f2;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 35px;
}

.navbar-menu a {
  text-decoration: none;
  color: #242424;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  padding: 5px 10px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .navbar-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-menu li {
    margin: 5px;
  }
}

.navbar-menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 30px;
}

.navbar-menu-toggle .fa-bars {
  display: block;
}

.navbar-menu-toggle .fa-times {
  display: none;
}

.navbar-menu-toggle.active .fa-bars {
  display: none;
}

.navbar-menu-toggle.active .fa-times {
  display: block;
}

@media (max-width: 1100px) {
  .navbar-menu-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.show {
    display: block;
  }
}

.main {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 180, 1) 0%,
    rgba(255, 230, 63, 1) 100%
  );
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 280px;
  height: 390px;
  background: rgb(244, 249, 255);
  border-radius: 0px 40px 0px 40px;
}

.card img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 0px 40px 0px 40px;
  padding: 10px;
}

.btn {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-family: Arial;
  color: #242424;
  font-size: 1rem;
  text-decoration: none;
  width: 100px;
  padding: 10px;
  border: none;
  margin-top: 40px;
}

.hero {
  position: relative;
}

.main {
  position: relative;
  margin-top: -10px;
  z-index: 1;
}

.header {
  padding: 20px;
}

p {
  font-size: 0.9375rem;
  text-align: center;
  color: rgb(32, 32, 32);
  margin-top: 12px;
}

.header h1 {
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 780px) {
  .container {
    flex-direction: column; /* stack vertically */
    align-items: center; /* Center horizontally */
  }

  .card {
    width: 75%;
    margin-bottom: 25px;
  }
}

.hero {
  position: relative;
}

/* overlay card */

.card-overlay {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(205, 119, 117, 0.603);
  height: 190px;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}

.card-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.card-overlay p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
  color: #f2f2f2;
}

/* Media query */
@media (max-width: 600px) {
  .navbar {
    position: relative;
  }

  .card-overlay {
    width: 90%;
    height: auto;
    padding: 8px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .card-overlay h1 {
    font-size: 1.8rem;
    margin-bottom: 6px;
  }

  .card-overlay p {
    font-size: 12px;
    margin-bottom: 12px;
  }
}

/* icons */

.icons {
  padding-top: 5px;
}

#carticon {
  position: absolute;
  right: 30px;
}

#phoneicon {
  position: absolute;
  right: 60px;
}
